* {
	font-family: 'Lato';
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.card {
	display: none;
	color: white;
	padding: 50px 150px;
	border-radius: 10px;
	box-shadow: 10px 15px 20px -15px rgba(0, 0, 0, 0.66);
}

.location {
	font-size: 4rem;
}

.temperature {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
}

.temp-section {
	display: flex;
	cursor: pointer;
}

.temp-section p {
	font-size: 2rem;
}

.temperature-type {
	font-size: 2rem;
}

span {
	display: flex;
	font-size: 2rem;
}

.temperature-desc {
	font-size: 1.2rem;
}
